{% extends 'base.html' %}*/
 <html>
   <head>
    {% block head %}
    {% parent %}
    {% endblock %}
</head>
<body>
{% block body %}
{% parent %}
{% endblock %}
<header class="w3-container w3-blue w3-center" style="padding:50px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome to your Homepage!</h1>
  <p class="w3-xlarge"></p>
  
</header>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <div class="card">
    <div class="card-body">
      <h4 class="card-title">Your Current Order!</h4>
      {}
      <p class="card-text">{{}}</p>
      <a href="#" class="card-link">Track</a>
    </div>
   
   
  </div>
</div>
</div>
</div>
</body>
</html>